<%# <h1>New Order</h1>

<%= render partial: 'orders/form', locals: { order: @order } %>

<%# <%= link_to 'Back', orders_path %> 


<h1>New user</h1>
<%= render "form", user: @order %>
<br>
<div>
  <%= link_to "Back to users", orders_path %>
</div>